In [3]:
import numpy as np
import pandas as pd

In [5]:
lst = [10, 20, 30]

In [7]:
np.mean([10,20,30]), np.mean(lst)

(np.float64(20.0), np.float64(20.0))

In [13]:
np.linspace(1, 100)

array([  1.        ,   3.02040816,   5.04081633,   7.06122449,
         9.08163265,  11.10204082,  13.12244898,  15.14285714,
        17.16326531,  19.18367347,  21.20408163,  23.2244898 ,
        25.24489796,  27.26530612,  29.28571429,  31.30612245,
        33.32653061,  35.34693878,  37.36734694,  39.3877551 ,
        41.40816327,  43.42857143,  45.44897959,  47.46938776,
        49.48979592,  51.51020408,  53.53061224,  55.55102041,
        57.57142857,  59.59183673,  61.6122449 ,  63.63265306,
        65.65306122,  67.67346939,  69.69387755,  71.71428571,
        73.73469388,  75.75510204,  77.7755102 ,  79.79591837,
        81.81632653,  83.83673469,  85.85714286,  87.87755102,
        89.89795918,  91.91836735,  93.93877551,  95.95918367,
        97.97959184, 100.        ])

In [15]:
number = [1,2,3,4,5,6]
numbernp = np.array(number)
type(number), type(numbernp)

(list, numpy.ndarray)

In [17]:
number, numbernp

([1, 2, 3, 4, 5, 6], array([1, 2, 3, 4, 5, 6]))

In [21]:
np.min(numbernp), np.argmin(numbernp)

(np.int64(1), np.int64(0))

In [22]:
np.max(numbernp), np.argmax(numbernp)

(np.int64(6), np.int64(5))

In [24]:
n = [9,4,5,6,7,3,4,2,35,6,0,3,1]
sorted(n)

[0, 1, 2, 3, 3, 4, 4, 5, 6, 6, 7, 9, 35]

In [25]:
np.sort(n)

array([ 0,  1,  2,  3,  3,  4,  4,  5,  6,  6,  7,  9, 35])

In [45]:
var1 = np.random.randn(1000) * 5 + 20
var2 = np.random.randn(1000) > 0

labels = ['Temp. (C)', 'Ice Cream eaten']

D = {labels[0]:var1, labels[1]:var2}

df = pd.DataFrame(data=D)

In [46]:
df

     Temp. (C)  Ice Cream eaten
0    20.208131            False
1    20.948551             True
2    23.486478            False
3    26.609294            False
4    25.771258            False
..         ...              ...
995  20.584384             True
996  13.741862            False
997  21.594119             True
998  29.628045            False
999  21.126416            False

[1000 rows x 2 columns]

In [47]:
df.head(12)

    Temp. (C)  Ice Cream eaten
0   20.208131            False
1   20.948551             True
2   23.486478            False
3   26.609294            False
4   25.771258            False
5   18.273574             True
6   13.570586            False
7   25.493173             True
8   24.115442             True
9   17.266483            False
10  11.604013             True
11  14.830015            False

In [48]:
df.count()

Temp. (C)          1000
Ice Cream eaten    1000
dtype: int64

In [49]:
df.mean()

Temp. (C)          20.206908
Ice Cream eaten     0.517000
dtype: float64

In [63]:
np.random.randint(0, 10)

6

In [71]:
nums = np.array(range(1, 11))

D = {'integers':nums, 'square':nums**2, 'log':np.log(nums)}
df = pd.DataFrame(D)
df

   integers  square       log
0         1       1  0.000000
1         2       4  0.693147
2         3       9  1.098612
3         4      16  1.386294
4         5      25  1.609438
5         6      36  1.791759
6         7      49  1.945910
7         8      64  2.079442
8         9      81  2.197225
9        10     100  2.302585